<!--

╔╔╗╔╔╔═╔═  ╔╗╦║║╦╗╦╔╗
║║║╠╠╠═╠═  ╚╗║║║║║║║║
╚╚╝║║╚═╚═  ╚╝║╚╝╩╝╩╚╝

www.coffeestudio.ru
support: web@coffeestudio.ru
creature: 2020

-->
{ % extends 'dsspskov/base.html' % }

{% block content %}
      <div class="intro">
        <div class="intro-content">
          <div class="wrapper intro-content__wrapper">
            <div class="header-block intro-content__title">
              <h1>{{ about_text.title }}</h1>
              <div class="header-block__text header-block__text--1">Ремонт <br> и обслуживание дорог</div>
            </div>
            <div class="intro-content__text">
              <!-- Текст из админки start -->
              {{ about_text.description|linebreaks|truncatewords:50 }}
              <!-- Текст из админки end -->
              <a href="{% url 'about' %}" class="btn btn--orange intro-content__btn">Подробнее</a>
            </div>
          </div>
        </div>
        <div class="swiper-container intro-slider js-intro-slider">
          <div class="swiper-wrapper no-swiping">
            <div class="swiper-slide intro-slider__slide">
              <picture>
                <source srcset="/static/dsspskov/images/intro-slide-1.webp" type="image/webp">
                <img src="/static/dsspskov/images/intro-slide-1.jpg" alt="slide_title">
              </picture>
            </div>
            <div class="swiper-slide intro-slider__slide">
              <picture>
                <source srcset="/static/dsspskov/images/intro-slide-2.webp" type="image/webp">
                <img src="/static/dsspskov/images/intro-slide-2.jpg" alt="slide_title">
              </picture>
            </div>
            <div class="swiper-slide intro-slider__slide">
              <picture>
                <source srcset="/static/dsspskov/images/intro-slide-3.webp" type="image/webp">
                <img src="/static/dsspskov/images/intro-slide-3.jpg" alt="slide_title">
              </picture>
            </div>
            <div class="swiper-slide intro-slider__slide">
              <picture>
                <source srcset="/static/dsspskov/images/intro-slide-4.webp" type="image/webp">
                <img src="/static/dsspskov/images/intro-slide-4.jpg" alt="slide_title">
              </picture>
            </div>
          </div>
          <div class="intro-slider__pagination"></div>
          <div class="intro-slider__controls">
            <button type="button" class="intro-slider__btn intro-slider__btn--prev"></button>

            <div class="intro-slider__numbers">
              <span class="current js-intro-slider__current">1</span>/<span class="count js-intro-slider__count"></span>
            </div>

            <button type="button" class="intro-slider__btn intro-slider__btn--next"></button>
          </div>
        </div>
      </div>
      <section class="projects">
        <div class="wrapper projects__wrapper">
          <div class="projects-top">
            <div class="header-block">
              <h2>Выполненные проекты</h2>
              <div class="header-block__text header-block__text--2">Выполненные<br>проекты</div>
            </div>
            <a href="#0" class="projects-all">Все проекты</a>
          </div>
          <ul class="projects-items">
            {% for n in news %}
            <li class="projects-item">
              <a href="#0" class="project">
                <div class="project-image">
                  <picture>
                    {% if n.photo %}
                  <img src="{{ n.photo.url }}" alt="{{ n.title }}">
                      {% else %}
            <!-- Здесь можно добавить изображение по умолчанию или оставить блок пустым -->
            <img src="/static/dsspskov/images/project-1.jpg" alt="{{ n.title }}">
                    {% endif %}
                  </picture>
                </div>
                <div class="project-overlay"></div>
                <h3 class="project-title">{{ n.title }}</h3>
                <div class="project-hover">
                  <div>
                    <h3 class="project-hover__title">{{ n.title }}</h3>
                    <!-- Текст из админки start -->
                    <p>{{ n.content|linebreaks|truncatewords:20 }}</p>
                    <!-- Текст из админки end -->
                  </div>
                  <div class="project-hover__read">
                    Читать
                  </div>
                </div>
              </a>
            </li>
            {% endfor %}

          </ul>
        </div>
      </section>
      <section class="production">
        <div class="wrapper production__wrapper">
          <div class="header-block">
            <h2>Производственная база</h2>
            <div class="header-block__text header-block__text--2 header-block__text--black">Производственная<br>база</div>
          </div>

          <div class="swiper-container production-slider js-production-slider">
            <div class="swiper-wrapper">
              <div class="production-slide swiper-slide">
                <picture>
                  <source srcset="/static/dsspskov/images/production-slide-1.webp" type="image/webp">
                  <img src="/static/dsspskov/images/production-slide-1.jpg" alt="production-slide_alt">
                </picture>
              </div>
              <div class="production-slide swiper-slide">
                <picture>
                  <source srcset="/static/dsspskov/images/production-slide-2.webp" type="image/webp">
                  <img src="/static/dsspskov/images/production-slide-2.jpg" alt="production-slide_alt">
                </picture>
              </div>
              <div class="production-slide swiper-slide">
                <picture>
                  <source srcset="/static/dsspskov/images/production-slide-3.webp" type="image/webp">
                  <img src="/static/dsspskov/images/production-slide-3.jpg" alt="production-slide_alt">
                </picture>
              </div>
              <div class="production-slide swiper-slide">
                <picture>
                  <source srcset="/static/dsspskov/images/production-slide-4.webp" type="image/webp">
                  <img src="/static/dsspskov/images/production-slide-4.jpg" alt="production-slide_alt">
                </picture>
              </div>
            </div>
            <div class="production-slider__pagination js-product-slider-pagination"></div>
            <button type="button" class="production-slider__btn production-slider__btn--prev"></button>
            <button type="button" class="production-slider__btn production-slider__btn--next"></button>
          </div>

          <div class="production-info">
            <h3 class="production-info__title">В производственную базу компании “ДорСтройСервис” входят:</h3>
            <ul class="production-info__list">
              <li class="production-info__item">2 завода по производству асфальта (г. Псков, Остров)</li>
              <li class="production-info__item">Штат из 300 квалифицированных специалистов</li>
              <li class="production-info__item">Парк из 700 единиц техники</li>
            </ul>
            <a href="#0" class="btn btn--orange production-info__link">Читать</a>
          </div>
        </div>
      </section>>

{% endblock %}